<main>
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-default">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div *ngIf="model$|async as model" class="container shape-container d-flex justify-content-center align-items-center py-lg">
        <app-exchange-rate-card currencyId="USD" [showMidPrice]="true">
          <div *ngIf="model.settings as settings">
            <span *ngIf="settings.sellingEnabled" class="badge badge-pill badge-success">Selling</span>
            <span *ngIf="!settings.sellingEnabled" class="badge badge-pill badge-danger">Not selling</span>
          </div>
        </app-exchange-rate-card>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
</main>
