<main>
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-default">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div *ngIf="model$|async as model" class="container shape-container d-flex justify-content-center align-items-center flex-wrap py-lg">
        <app-exchange-rate-card currencyId="USD" [showMidPrice]="true" [liftOnHover]="false">
          <!--<ng-container *ngIf="model.settings as settings" class="mt-1">
            <span *ngIf="settings.sellingEnabled" class="badge badge-pill badge-success" translate>Selling</span>
            <span *ngIf="!settings.sellingEnabled" class="badge badge-pill badge-danger" translate>Not selling</span>
          </ng-container>-->
          <ng-container *ngIf="usdPriceChange$ | async as usdPriceChange">
            <ng-container *ngIf="!usdPriceChange.loading && usdPriceChange.priceChange as priceChange" class="mt-1">
              <span *ngIf="priceChange.percent as variation" class="badge badge-pill"
                [class.badge-success]="variation >= 0" [class.badge-danger]="variation < 0">
                <i class="fa" [class.fa-arrow-up]="variation >= 0" [class.fa-arrow-down]="variation < 0">
                </i> {{variation|abs|toLocaleDecimal:'1.0-2'|async}}%
              </span>
            </ng-container>
          </ng-container>
          <button class="btn btn-link" [ngbTooltip]="(showHistory ? 'Hide ' : 'Show ') + 'history'|translate"
            (click)="showHistory = !showHistory">
            <i class="fa fa-line-chart"></i>
          </button>
        </app-exchange-rate-card>
        <div *ngIf="!model.loading && showHistory" class="card shadow border-0 ml-4 mt-1">
          <div class="card-body">
            <app-historical-exchange-rates-chart currencyId="USD"></app-historical-exchange-rates-chart>
          </div>
        </div>
      </div>
      <div class="container d-flex justify-content-center align-items-center">
        <app-exchange-rates-service-health-alert></app-exchange-rates-service-health-alert>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
</main>
