<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <div class="container">
    <div *ngIf="model$|async as model" class="d-flex justify-content-between flex-wrap align-items-center">
      <div class="card card-lift--hover mt-1">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h6 class="card-title text-uppercase text-muted mb-0">Bitcoin</h6>
              <div *ngIf="model.loading" class="animated-background"></div>
              <ng-container *ngIf="!model.loading">
                <span *ngIf="model.btc as btc; else rateNotAvailable" class="h2 font-weight-bold mb-0">
                  {{btc.buyPrice|number:'1.0-2'}} USD
                </span>
              </ng-container>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                <i class="fa fa-btc"></i>
              </div>
            </div>
          </div>
          <p *ngIf="model.btc as btc" class="mt-3 mb-0 text-muted text-sm">
            <!--<span class="mr-2 text-success"><i class="fa fa-arrow-up"></i> 3.48%</span>-->
            <span *ngIf="btc.updatedAt as updatedAt" class="text-nowrap">
              <span>{{'Updated'|translate}}</span> {{updatedAt|amTimeAgo:false}}
            </span>
          </p>
        </div>
      </div>
      <div class="card card-lift--hover mt-1">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h6 class="card-title text-uppercase text-muted mb-0">Ethereum</h6>
              <div *ngIf="model.loading" class="animated-background"></div>
              <ng-container *ngIf="!model.loading">
                <span *ngIf="model.eth as eth; else rateNotAvailable" class="h2 font-weight-bold mb-0">
                  {{eth.buyPrice|number:'1.0-2'}} USD
                </span>
              </ng-container>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                <img src="./assets/img/icons/ethereum_icon.svg" style="height: 1em; fill: #ffffff;">
              </div>
            </div>
          </div>
          <p *ngIf="model.eth as eth" class="mt-3 mb-0 text-muted text-sm">
            <!--<span class="mr-2 text-success"><i class="fa fa-arrow-up"></i> -1.35%</span>-->
            <span *ngIf="eth.updatedAt as updatedAt" class="text-nowrap">
              <span>{{'Updated'|translate}}</span> {{updatedAt|amTimeAgo:false}}
            </span>
          </p>
        </div>
      </div>
      <div class="card card-lift--hover mt-1">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h6 class="card-title text-uppercase text-muted mb-0">Euro</h6>
              <div *ngIf="model.loading" class="animated-background"></div>
              <ng-container *ngIf="!model.loading">
                <span *ngIf="model.eur as eur; else rateNotAvailable" class="h2 font-weight-bold mb-0">
                  {{eur.buyPrice|number:'1.0-2'}} USD
                </span>
              </ng-container>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                <i class="fa fa-eur"></i>
              </div>
            </div>
          </div>
          <p *ngIf="model.eur as eur" class="mt-3 mb-0 text-muted text-sm">
            <!--<span class="mr-2 text-success"><i class="fa fa-arrow-up"></i> 0.01%</span>-->
            <span *ngIf="eur.updatedAt as updatedAt" class="text-nowrap">
              <span>{{'Updated'|translate}}</span> {{updatedAt|amTimeAgo:false}}
            </span>
          </p>
        </div>
      </div>
      <ng-template #rateNotAvailable>
        <span class="h2 font-weight-bold mb-0">N/A</span>
      </ng-template>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          design by <a href="https://www.creative-tim.com?ref=adsa-footer" target="_blank">Creative Tim</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://rodrigocrespin.github.io/about-me/" class="nav-link" target="_blank">About Me</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/creativetimofficial/argon-design-system-angular/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
