<div *ngIf="model$|async as model" class="card shadow border-0" [class.card-lift--hover]="liftOnHover">
  <div class="card-body py-5 text-center">
    <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
      <i class="fa fa-money"></i>
    </div>
    <div class="d-flex justify-content-between">
      <div class="mr-4">
        <h6 class="text-success text-uppercase">Buy</h6>
        <div *ngIf="model.loading" class="animated-background"></div>
        <h2 *ngIf="model.exchangeRate?.buyPrice as buyPrice">${{buyPrice}}</h2>
      </div>
      <div *ngIf="showMidPrice && model.midPrice as midPrice" class="mr-4 ml-4">
        <h6 class="text-success text-uppercase">Mid</h6>
        <h2>${{midPrice|number:'1.0-2'}}</h2>
      </div>
      <div class="ml-4">
        <h6 class="text-success text-uppercase">Sell</h6>
        <div *ngIf="model.loading" class="animated-background"></div>
        <h2 *ngIf="model.exchangeRate?.sellPrice as sellPrice">${{sellPrice}}</h2>
      </div>
    </div>
    <div *ngIf="!model.loading" class="d-flex flex-wrap align-items-center justify-content-between">
      <span class="btn btn-link" [ngbTooltip]="lastUpdateAt">
        <i class="fa fa-info-circle"></i>
      </span>
      <ng-content></ng-content>
    </div>
  </div>
  <ng-template #lastUpdateAt>
    {{model.exchangeRate?.updatedAt|date: 'dd/MM/yyyy HH:mm'}}
  </ng-template>
</div>