@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f7f7a606;
  background: linear-gradient(to right, #eeeeee90 8%, #dddddd90 18%, #eeeeee90 33%);
  background-size: 800px 104px;
  height: 1em;
  position: relative;
}

.animated-background-4 {
  display: inline-block;
  height: 1em;
  width: 4em;
}

.animated-background-8 {
  display: inline-block;
  height: 1em;
  width: 8em;
}
